/* Imported Fonts */

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans&display=swap");

:root {
  /* Color Palette: https://colorhunt.co/palette/2763 */
  --first-color: #222831;
  --second-color: #eee;
  --third-color: #00adb5;
  --fourth-color: #393e46;
}

/* Layout */

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: var(--first-color);
  color: var(--third-color);
}

/* header, game and footer are
    displayed as flex elements
    in the App column. */
.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.header {
  box-sizing: border-box;
  min-height: 50px;
  font: 600 1.6rem/1 "Indie Flower", cursive;
}

/* Header and Footer are pushed 
    to the top and bottom of the viewport.
    Game stretches to occupy the rest of 
    the available space.
    */
.game {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  box-sizing: border-box;
  min-height: 40px;
  padding: 20px 0;
  color: var(--fourth-color);
}

/* history list */
.history-list {
  padding-left: 0;
}

.history-button {
  margin-top: 0.5rem;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
