/* Imported Fonts */

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans&display=swap");

:root {
  /* Color Palette: https://colorhunt.co/palette/2763 */
  --first-color: #222831;
  --second-color: #eee;
  --third-color: #00adb5;
  --fourth-color: #393e46;
}

/* Layout */

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: var(--first-color);
  color: var(--third-color);
}

/* header, game and footer are
    displayed in the App grid. */
.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  min-height: 100vh;
}

.header {
  box-sizing: border-box;
  min-height: 50px;
  font: 600 1.6rem/1 "Indie Flower", cursive;
}

/* Header and Footer are pushed 
    to the top and bottom of the viewport.
    Game stretches to occupy the rest of 
    the available space.
    */
.game {
  flex: 1;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: flex-start;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 120px;
  grid-auto-rows: 40px;
  gap: 3px;
}

.square {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.board,
.game-info {
  margin: 20px auto 0;
}

@media (min-width: 600px) {
  .header {
    margin-bottom: 60px;
  }
  .game {
    grid-template-rows: none;
    grid-template-columns: 1fr auto;
  }
  /* Avoid auto width size due to
    dynamic content */
  .game-info {
    width: 300px;
  }
  .board {
    width: 30vw;
    grid-auto-rows: 10vw;
  }
}

@media (min-width: 1000px) {
  .game {
    width: 1000px;
    margin: 0 auto;
  }
  .board {
    width: 300px;
    grid-auto-rows: 100px;
  }
}

.game-status {
  margin-top: 0;
  line-height: 1;
}

.footer {
  box-sizing: border-box;
  min-height: 40px;
  padding: 20px 0;
  color: var(--fourth-color);
}

.history-list {
  padding-left: 0;
}

.history-button {
  margin-top: 0.5rem;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

/*----- Transitions -----*/

/* Transition times */
:root {
  --b-time: 300ms; /*board time*/
}

/* Board Transition */
.board-enter {
  opacity: 0;
  transform: scale(0.9);
}
.board-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity var(--b-time), transform var(--b-time);
}
.board-exit {
  opacity: 1;
  transform: translateX(0);
}
.board-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity var(--b-time), transform var(--b-time);
}
